{% if section.settings.ankitSectionCheckbox %}
  <div style="text-align: {{ section.settings.text_position }}">
    <p style="font-size: {{ section.settings.font_size }}">{{ section.settings.ankitSectionId }}</p>
  </div>

{% else %}
  <h5>Please enable the checkbox to type</h5>
{% endif %}

{% schema %}
{
  "name": "Ankit section",
  "settings": [
    {
  "type": "range",
  "id": "font_size",
  "min": 12,
  "max": 24,
  "step": 1,
  "unit": "px",
  "label": "Font size",
  "default": 16
},
    {
      "type": "text",
      "id": "ankitSectionId",
      "label": "Enter Text",
      "default": "I am default text bro..."
    },
    {
      "type": "checkbox",
      "id": "ankitSectionCheckbox",
      "label": "Enable your text",
      "default": true
    },
       {
      "type": "select",
      "id": "text_position",
      "label": "Position your text",
      "options": [
        {"value": "left", "label":"Left"},
           {"value": "center", "label":"Center"},
        {"value": "right", "label":"Right"}
      ],
      "default": "left"

    }
  ],
  "presets" : [
    {
      "name":"Ankit Text Section",
      "category":"text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
